main {
    font-family: 'Sen', sans-serif;
}

.link {
  display: block;
  color: green;
  font-size: 20px;
  margin-bottom: 10px;
}

.link:hover {
  color: lime;
  text-decoration: none;
}

main > a:last-child{
  margin-bottom: 0;
}